@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Montserrat:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .app, main{
  min-height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  @apply text-gray-500 overflow-x-hidden;
}

@layer utilities {
  .flex-between{
    @apply flex items-center justify-between;
  }
  .flex-evenly{
    @apply flex items-center justify-evenly
  }
  .flex-around{
    @apply flex items-center justify-around
  }
  .balance{
    text-wrap: balance;
  }
  .no-x-scrollbar{
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
  }
  .no-x-scrollbar::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
  .scrollbar-100::-webkit-scrollbar {
    @apply w-2 md:w-1
  }
  /* Track */
  .scrollbar-100::-webkit-scrollbar-track {
    @apply bg-slate-50 rounded-lg
  }
  /* Handle */
  .scrollbar-100::-webkit-scrollbar-thumb {
    @apply bg-primary-300 rounded-lg;
  }
  /* Handle on hover */
  .scrollbar-100::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-500;
  }
}

@layer components {
  .input-text{
    @apply mb-5 w-full rounded-lg bg-primary-300 px-5 py-3 placeholder-white
  }
}